# core settings
[core]
  	fileMode = false
	autocrlf = input
	editor = code

# personal user
[include]
	path = .gitconfig-p

# work user
[includeif "gitdir:**/CI/"]
	path = .gitconfig-w

[includeif "gitdir:**/dev/"]
	path = .gitconfig-w
