# core settings
[core]
  	fileMode = false
	autocrlf = input
	editor = code

[user]
	name = Tom Rea
	email = a@tomrea.uk
[credential]
	username = thomasmarkrea
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
